.idea/
.ipynb_checkpoints/

logs/
wandb/
checkpoints/
.tmp/
notebooks/
.hydra/
lightning_logs/

*.txt
*.pt
*.jar
*.java
*.log

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
